.body {
    background-color: red;
    color: yellow;
    border-radius: 20px;
    border-style: groove;
    padding-left: 50px;
    
}
.footer {
    text-align: center;
    background-color: black;
    color: yellow;
}
h1 {
    color: black;
}
a{
    border-style: ridge;
    background-color: red;
    border-radius: 30px;
    color: black;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
}
a:hover{
    border-style: ridge;
    background-color: yellow;
    border-radius: 30px;
    color: red;
    width: 70x;
    height: 70px;
    text-align: center;
    text-decoration: none;
}